@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@400;700&display=swap');
@import './variables';
@import './canvas';
@import './main';

html,
body {
	margin: 0;
}

body {
	height: 100%;
	width: 100%;
	font-style: normal;
	font-family: 'Encode Sans Semi Condensed', sans-serif;
}
